@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  /* Blue */
  --color-glass-blue: rgba(30, 45, 80, 0.6);
  /* Main blue for buttons, links */
  --color-primary-blue-dark: #0E1A2B;
  /* Darker blue for dark mode */
  --color-secondary-blue: #02277a;
  /* Accent blue for hover or secondary elements */
  --color-blue-hover: #002f89;
  /* Blue for hover states */

  --border-glass: rgba(255, 255, 255, 0.08);

  /* Green */
  --color-accent-green: #5fb025;
  /* Bright green for highlights */
  --color-secondary-green: #6ab030;
  /* Medium green for secondary elements */
  --color-dark-green: #0e7b16;
  /* Dark green for text or backgrounds */
  --color-glass-green: rgba(95, 176, 37, 0.06)
    /* Yellow-Light */
    --color-light-yellow: #c6de95;
  /* Light yellow for accents */
  --color-pale-yellow: #f4fef4;
  /* Very light yellow for backgrounds */

  /* Gray */
  --color-light-gray: #d9dfdd;
  /* Light gray for backgrounds */
  --color-medium-gray: #b5c3ca;
  /* Medium gray for text or borders */
  --color-glass-gray: rgba(164, 178, 174, 0.06);
  /* Darker gray for secondary elements */

  /* Dark mode variants */
  --color-background-light: #f4fef4;
  /* Pale yellow for light mode background */
  --color-background-dark: #0E1A2B;
  /* Dark blue for dark mode background */
  --color-text-light: #010031;
  /* Dark blue for text in light mode */
  --color-text-dark: #f4fef4;
  /* Pale yellow for text in dark mode */
}

html,
body {
  /* Custom colors for background */
  @apply bg-background-light dark:bg-background-dark;
  @apply text-text-light dark:text-text-dark;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

@layer utilities {
  .perspective {
    perspective: 1000px;
  }

  .transform-style-preserve-3d {
    transform-style: preserve-3d;
  }

  .backface-hidden {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }

  .rotate-y-180 {
    transform: rotateY(180deg);
  }

  .will-change-transform {
    will-change: transform;
  }
}

@layer components {

  /* Primary button */
  .btn-primary {
    @apply bg-secondary-green text-primary-blue-dark px-8 py-4 rounded-lg hover:bg-accent-green transition;
  }

  /* Secondary button */
  .btn-secondary {
    @apply border border-secondary-green text-light-gray px-8 py-4 rounded-lg hover:bg-accent-green hover:text-primary-blue-dark transition;
  }
}